.fen{
    width: 7.08rem;
    height: 1.648rem;
    margin-left: .2rem;
}
.fe{
    width: 1.236rem;
    height: 1.6478rem;
    float: left;
    padding: 0 .09rem;
}
.cate{
    width: 7.5rem;
    height: 1.8472rem;
}